
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Optional: Add more smoothness to the sliding menu */
.menu-open {
  transform: translateX(0);
}

.menu-closed {
  transform: translateX(100%);
}

::-webkit-scrollbar{
  display: none;
}